body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2f2f2f;
}
a {
  color: #00b7ff;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 30px;
}
span,
p,
label,
h2,
h1,
h3 {
  color: #539bbd;
}
input {
  background-color: #777;
  color: inherit;
}
