$baseColor = #539bbd
$backgroundColor = #2f2f2f

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
}

a {
  color: #00B7FF;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 30px;
}

span, p, label, h2, h1, h3 {
  color: $baseColor;
}

input {
  background-color: #777777;
  color: inherit;
}