<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
    <title>Create New Chat Room</title>
</head>
<body>

<section data-ng-controller="RoomController">
    <h1>Create room</h1>
    <form data-ng-submit="create()" novalidate>
        <div>
            <label for="roomname">Room Name</label>
            <div>
                <input type="text" data-ng-model="roomname" id="roomname" placeholder="" required>
            </div>
        </div>
        <div>
            <label for="privacyDesignation">Public/Private</label>
            <div>
                <!--<input type="text" data-ng-model="privacyDesignation" id="privacyDesignation" required>-->
                <select data-ng-model="privacyDesignation" id="privacyDesignation" required>
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
            </div>
        </div>
       <div>
            <label for="member">Add Member:</label>
            <div>
                <select ng-model="user" id="member" ng-options="u.username for u in users">
                </select>
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>

</body>
</html>